
@model Bookshelf.Models.ViewModels.PageListModel
@Html.FullRefreshPropertiesMetaData(new[] {"Root", "CategoryFilter" })



<h4>@Model.Heading</h4>
<br />

@foreach (var page in Model.Pages)
{
    @Html.Action("Preview", "BookPage", new { currentPage = page, bookModel = Model })
}
