@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Bookshelf.Models.ViewModels.PageViewModel<Bookshelf.Models.Pages.StartPage>

<div class="marginBottom">
    @Html.PropertyFor(m => m.CurrentPage.MainContentArea)
</div>
<div class="marginBottom">
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
</div>
  


