@model Bookshelf.Models.ViewModels.PageViewModel<Bookshelf.Models.Pages.StandardPage>

@{ Layout = "~/Views/Shared/Layouts/_SubHeaderNoRelatedContent.cshtml"; }

<div class="row marginBottom">
    @Html.PropertyFor(x => x.CurrentPage.ContentAreaOne)
</div>

@*@Html.PropertyFor(m => m.CurrentPage.List)*@



