@model Bookshelf.Models.ViewModels.PageViewModel<Bookshelf.Models.Pages.StandardPage>

@{ Layout = "~/Views/Shared/Layouts/_SubHeaderNoRelatedContent.cshtml"; }

<div class="row marginBottomCol">
    @Html.PropertyFor(x => x.CurrentPage.ContentAreaOne)
</div>

<div class="row marginBottomCol">
    @Html.PropertyFor(x => x.CurrentPage.ContentAreaTwo)
</div>

<br />
@Html.PropertyFor(m => m.CurrentPage.List)

