@model Bookshelf.Models.ViewModels.BookPageListModel


@if(Model.Pages != null)
{
    foreach (var page in Model.Pages)
    {
        <div class="col-md-3 marginBottom">
            <p><a href="">@Html.PageLink(page)</a></p>
            <a href="">
                <img class="partialImage" src="@Url.ContentUrl(page.PageImage)" />
            </a>
        </div>
    }
}
