@model Bookshelf.Models.ViewModels.BookPageListModel


@if(Model.Pages != null)
{
    foreach (var page in Model.Pages)
    {
        <div class="col-md-3 marginBottom">
            <p>@Html.PageLink(page)</p>
            <img class="partialImage" src="@Url.ContentUrl(page.PageImage)" />
        </div>
    }
}
