@model Bookshelf.Models.ViewModels.PageViewModel<Bookshelf.Models.Pages.WishBookListPage>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@{Html.RenderPartial("Breadcrumbs");}

<div class="row">
    <div class="col-md-12">
        @Html.PropertyFor(x => x.CurrentPage.WishBookList)
    </div>
</div>
