@using Bookshelf.Models.Pages
@using Bookshelf.Models.ViewModels
@using Bookshelf.Helpers

@model IPageViewModel<SitePageData>

@helper ItemTemplate(HtmlHelpers.MenuItem firstLevelItem)
{  
    <a href="@Url.ContentUrl(firstLevelItem.Page.PageLink)"
        class="@(firstLevelItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink) ? "active" : null)" data-parent="#bookshelfDrop">
        @firstLevelItem.Page.Name
    </a>
}

<div id="bookshelfDrop">
    <div class="bookshelfDropClass">
        @if (Model.Section != null)
        {
            @Html.MenuList(Model.Section.ContentLink, ItemTemplate)
        }
    </div>
</div>

